 <div class='nested-fields'>
    <%= f.label :name, "部屋タイプ" %>
    <%= f.text_field :name, placeholder: "例:シングル2台" %>
    <%= f.label :people_count, "人数" %>
    <%= f.number_field :people_count %>

    <!---以下、宿泊プランと部屋数-->

    <%= f.fields_for :plans do |plan| %>
        <%= render 'plan_fields', :f => plan %>
    <% end %>
    <%= f.fields_for :rooms do |room| %>
        <%= render 'room_fields', :f => room %>
    <% end %>
    <!---以上、宿泊プランと部屋数-->

    <%= link_to_remove_association "削除", f, class:"btn btn-danger" %>
</div>