<% if @hotel.errors.any? %>
<p class="alert alert-danger">
    <strong>編集エラー：</strong>
    <% @hotel.errors.full_messages.each do |message| %>
        <%= message %>
        <% end %>
</p>
<% end %>

<h1>ホテル新規登録</h1>

<%= form_for(@hotel, url: admins_hotels_path) do |f| %>
    <div>
    <%= f.label :name, "ホテル名" %>
    <%= f.text_field :name, autofocus: true, placeholder: "ホテル名" %>
    <%= f.label :location, "住所" %>
    <%= f.text_field :location, placeholder: "都道府県から入力" %>
    </div><br>


    <!--以下、ホテル画像-->
    <div>
    <%= f.fields_for :hotel_photos do |hotel_photo| %>
      <%= render 'hotel_photo_fields', :f => hotel_photo %>
          <% end %>
      <%= link_to_add_association '新しい画像を追加', f, :hotel_photos, class:'btn btn-success'%>
    </div><br>
    <!--以上、ホテル画像-->


    <!--以下、部屋タイプ、宿泊プラン、部屋数-->
    <div>
    <%= f.fields_for :room_types do |room_type| %>
      <%= render 'room_type_fields', :f => room_type %>
          <% end %>
      <%= link_to_add_association '新しいプランを追加', f, :room_types, class:'btn btn-success'%>
    </div><br>

    <!--以上、部屋タイプ、宿泊プラン、部屋数-->






    <%= f.submit "新規登録" %>
    <%= link_to "内容を破棄", admins_hotels_path %>

<% end %>