<h1>Users::Reservations#new</h1>
<p>Find me in app/views/users/reservations/new.html.erb</p>
祭り名：<%= @festival.name%><br>
ホテル名：<%= @hotel.name %><br>
ユーザ姓：<%= current_user.last_name %><br>
ユーザ名：<%= current_user.first_name %><br>
ユーザEmail：<%= current_user.email %><br>

<!--空室検索-->
<空室検索欄予定、今は動かない>
<%= form_tag(new_users_user_reservation_path(current_user, params: {festival_id: @festival.id, hotel_id: @hotel.id}), :method => 'get') do %>
	<%= date_field_tag 'start_date', include_blank: "チェックイン日", class:"btn btn-default dropdown-toggle"%>
	<%= date_field_tag 'end_date', include_blank: "チェックアウト日", class:"btn btn-default dropdown-toggle"%>
	<%= hidden_field_tag :festival_id, @festival.id %>
	<%= hidden_field_tag :hotel_id, @hotel.id %>
    <%= submit_tag 'Search' %>
<% end %>
<!--以上、空室検索-->
<!---->
予約日付
<%= form_for(@reservation, url: users_user_reservations_path) do |f| %>
  <%= f.date_field :start_date %>
  <%= f.date_field :end_date %>
  <%= f.hidden_field :festival_id, :value =>  @festival.id %>
  <%= f.submit "予約する" %>


<!---->
<table class="table table-hover">
	<thead>
		<tr>
			<th>部屋タイプ</th>
			<th>人数</th>
			<th>一泊あたりの料金</th>
			<th>部屋数</th>
			<th>部屋名</th>
		</tr>
	</thead>
	<tbody>
		<% @hotel.room_types.each do |room_type| %>
        <tr>
			<td><%= room_type.name %></td>
			<td><%= room_type.people_count %></td>
			<td><%= room_type.charge %></td>
			<td><%= room_type.rooms.count %></td>
			<td>
    			<% room_type.rooms.each do |room| %>
    			    <label><%= f.radio_button :room_id, room.id %>
	    	        <<%= room.name %>></label>
	    	        <%= room.reservations.count %>件の予約
	    	        <% room.reservations.each do |reservation| %>
	    	            <%= reservation.start_date %> ~ 
	    	            <%= reservation.end_date %> ///
	    	        <% end %>
		        <% end %>
		    </td>
　　　　　</tr>
		<% end %>
	</tbody>
</table>
<% end %>