<div class="main clearfix">
  <h1>ホテル予約手続き</h1>
  <div class="reservation-new-container clearfix">
  	<div class="reservation-form">
  	<%= form_for(@reservation, url: users_user_reservations_path) do |f| %>
      <%= f.hidden_field :festival_id, :value =>  @festival.id %>
      <h3>1.部屋を選択</h3>
      <i class="fas fa-bed"></i><%= @hotel.name %>
      <table class="table">
	    <thead>
		  <tr>
		    <th>部屋タイプ</th>
			<th>人数</th>
			<th style="padding-left: 5%;">一泊料金</th>
			<th>部屋名</th>
		  </tr>
	    </thead>
	    <tbody>
		<% @hotel.room_types.each do |room_type| %>
        <tr>
		  <td style="padding-left: 2%;"><%= room_type.name %></td>
		  <td style="text-align: center;"><%= room_type.people_count %></td>
		  <td style="text-align: right; padding-right: 5%;"><%= converting_to_jpy(room_type.charge) %></td>
	      <td style="padding-left: 2%; width: 50%;">
    	  <% room_type.rooms.each do |room| %>
    	    <label style="margin-right: 5%;">
    	      <%= f.radio_button :room_id, room.id %>
	    	  <%= room.name %>
	    	</label>
		   <% end %>
		  </td>
		</tr>
		<% end %>
	    </tbody>
      </table>
      <div>
      	<h3>2.日程を選択</h3>
      	<i class="far fa-calendar-alt"></i><%= @festival.name %><span style="margin-right:1%;">:</span><%= @festival.start_date %> ~ <%= @festival.end_date %>
      </div>
      <div class="reservation-date">
      	<span>
      	  <label class="reservation-date checkin">チェックイン<br>
      	  	<%= f.date_field :start_date %>
      	  </label>
      	</span>
      	<span>
      	  <label class="reservation-date checkout">チェックアウト<br>
      	  	<%= f.date_field :end_date %>
      	  </label>
      	</span>
      	<span>
      	<%= f.submit "予約する", :class =>"btn btn-success btn-s-md", style: "width: 160px; margin: 15px auto;" %>
      	</span>
      </div>
    <% end %>
    </div>
    <!--下記、Google Map表示-->
    <style>
    #map{
      height: 550px;
      width: 45%;
      float: right;
    }
    </style>
    <div id="map"></div>
    <script>
      function initMap() {
        var hotelLatLng = new google.maps.LatLng(<%= @hotel.latitude %>, <%= @hotel.longitude %>);
        var festivalLatLng = new google.maps.LatLng(<%= @festival.latitude %>, <%= @festival.longitude %>);
        var map = new google.maps.Map(document.getElementById('map'), {
          center: hotelLatLng,
          zoom: 15,
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var hotelMarker = new google.maps.Marker({
            position: hotelLatLng,
            map: map,
        });
        var hotelContent = '<div style="color: #0000ee; font-weight: bold;"><%= @hotel.name %></div><div><%= @hotel.address %></div>';
        var hotelInfoWindow =new google.maps.InfoWindow({
            content: hotelContent
        });
        hotelMarker.addListener('click', function(){
            hotelInfoWindow.open(map, hotelMarker);
        });
        var festivalMarker = new google.maps.Marker({
            position: festivalLatLng,
            map: map,
        });
        var festivalContent = '<span style="color: #0000ee; font-weight: bold;"><%= @festival.name %></span>';
        var festivalInfoWindow =new google.maps.InfoWindow({
            content: festivalContent
        });
        festivalInfoWindow.open(map, festivalMarker);
        festivalMarker.addListener('click', function(){
            festivalInfoWindow.open(map, festivalMarker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNc99Q2u5MzbjDkJp3kb1u2IH_-ofbBk&callback=initMap"
    ></script>
    <!--以上、Google Map-->
  </div>
</div>