<!--管理者祭り一覧-->
<h1>祭り一覧</h1>

<%= render 'search_form' %>

<%= link_to "新規登録", new_admins_festival_path %>

<table class="table table-hover">
	<thead>
		<tr>
            <th>ID</th>
            <th>祭り名</th>
			<th>開催期間</th>
			<th>都道府県</th>
    		<th>画像数</th>
   			<th>カテゴリ</th>
		</tr>
	</thead>
	<tbody>
        <% @festivals.each do |festival|%>
        <tr>
        	<th><%= festival.id %></th>
			<td><a href="/admins/festivals/<%= festival.id%>"><%= festival.name %></td>
			<td><%= festival.start_date %> - <%= festival.end_date %></td>
			<td><%= festival.prefecture.name %></td>
			<td><%= festival.festival_photos.count %></td>
			<td>
				<% festival.festivals_categories.each do |festivals_category| %>
				<%= festivals_category.category.name %>
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>