<h1>Admins::Festivals#show<%= @festival.name %></h1>
<%= link_to "編集", edit_admins_festival_path(@festival.id) %>
<%= link_to "削除", admins_festival_path(@festival), method: :delete, data: {confirm: "この祭りを削除しますか？"}  %>
<%= link_to "新規登録", new_admins_festival_path %>
<%= render 'search_form' %>
<table class="table table-hover">
	<thead>
		<tr>
            <th>祭り名</th>
			<th>祭り説明</th>
			<th>祭り開催地</th>
			<th>開催初日</th>
			<th>開催終了日</th>
			<th>value1</th>
			<th>value2</th>
			<th>value3</th>
			<th>value4</th>
			<th>value5</th>
			<th>都道府県</th>
			<th>カテゴリー</th>
		</tr>
	</thead>
	<tbody>
        <tr>
			<td><%= @festival.name %></td>
			<td><%= @festival.detail %></td>
			<td><%= @festival.address %></td>
			<td><%= @festival.start_date %></td>
			<td><%= @festival.end_date %></td>
			<td><%= @festival.value_1 %></td>
			<td><%= @festival.value_2 %></td>
			<td><%= @festival.value_3 %></td>
			<td><%= @festival.value_4 %></td>
			<td><%= @festival.value_5 %></td>
			<td><%= @festival.prefecture.name %></td>
			<td>
				<% @festival.festivals_categories.each do |festivals_category| %>
				<%= festivals_category.category.name %>
				<% end %>
			</td>
		</tr>
		<tr>
			<% @festival.festival_photos.each do |festival_photo|%>
			<td><%= attachment_image_tag festival_photo, :image, style: "width: 100px; height: 100px;" %></td>
			<% end %>
		</tr>
	</tbody>
</table>


<!--下記、Google Map表示-->
<h2>gmap</h2>
latitude:<%= @festival.latitude %><br>
longitude:<%= @festival.longitude %>
<style>
#map{
  height: 400px;
  width: 400px;
}
</style>

    <div id="map"></div>
    <script>
    function initMap() {
    var test ={lat: <%= @festival.latitude %>, lng: <%= @festival.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= @festival.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNc99Q2u5MzbjDkJp3kb1u2IH_-ofbBk&callback=initMap"
    ></script>
