<h1>"<%= @festival.name %>"付近のホテル一覧</h1>
<p>会場: <%= @festival.address %></p>

<!--下記、Google Map表示-->
<h2>gmap</h2>
latitude:<%= @festival.latitude %><br>
longitude:<%= @festival.longitude %>
<style>
#map{
  height: 400px;
  width: 400px;
}
</style>

    <div id="map"></div>
    <script>
    function initMap() {
    var test ={lat: <%= @festival.latitude %>, lng: <%= @festival.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= @festival.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwNc99Q2u5MzbjDkJp3kb1u2IH_-ofbBk&callback=initMap"
    ></script>

<table class="table table-hover">
  <thead>
    <tr>
            <th>ID</th>
            <th>ホテル名</th>
      <th>ホテル住所</th>
      <th>ホテル画像数</th>
        <th>ホテル部屋タイプ数</th>
    </tr>
  </thead>
  <tbody>
        <% @hotels.each do |hotel|%>
        <tr>
          <th><%= hotel.id %></th>
      <td><%= link_to hotel.name, new_users_user_reservation_path(current_user, params: {festival_id: @festival.id, hotel_id: hotel.id}) %></td>
      <td><%= hotel.address %></td>
      <td><%= hotel.hotel_photos.count %></td>
      <td><%= hotel.room_types.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>


