<h1>祭り検索結果</h1>

<%= form_tag(users_festivals_path, :method => 'get') do %>
	<!--options_from_collection_for_select
		第１引数は表示させるデータ、第２引数は格納される値、第３引数はViewに表示される値-->
    <%= select_tag 'prefecture_id', options_from_collection_for_select( Prefecture.all, :id, :name), include_blank: "都道府県", class:"btn btn-default dropdown-toggle" %>
    <%= select_tag 'category_id', options_from_collection_for_select( Category.all, :id, :name), include_blank: "カテゴリー", class:"btn btn-default dropdown-toggle" %>
    <%= submit_tag 'Search', :name => nil %>
<% end %>


<table class="table table-hover">
	<thead>
		<tr>
            <th>祭り名</th>
			<th>祭り説明</th>
			<th>祭り開催地</th>
			<th>開催初日</th>
			<th>開催終了日</th>
			<th>value1</th>
			<th>value2</th>
			<th>value3</th>
			<th>value4</th>
			<th>value5</th>
			<th>都道府県</th>
			<th>カテゴリー</th>
		</tr>
	</thead>
	<tbody>
        <% @festivals.each do |festival|%>
        <tr>
			<td><a href="/users/festivals/<%= festival.id%>"><%= festival.name %></td>
			<td><%= festival.detail %></td>
			<td><%= festival.location %></td>
			<td><%= festival.start_date %></td>
			<td><%= festival.end_date %></td>
			<td><%= festival.value_1 %></td>
			<td><%= festival.value_2 %></td>
			<td><%= festival.value_3 %></td>
			<td><%= festival.value_4 %></td>
			<td><%= festival.value_5 %></td>
			<td><%= festival.prefecture.name %></td>
			<td><%= festival.category.name %></td>
		</tr>
		<% end %>
	</tbody>
</table>