  <p>
    <% if user_signed_in? %>
      <%= link_to "TOP", root_path, data: {"turbolinks" => false} %>
      <%= link_to "ABOUT", about_path %>
      <%= link_to "マイページ", users_user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "TOP", root_path, data: {"turbolinks" => false} %>
      <%= link_to "ABOUT", about_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "管理者ログイン", new_admin_session_path %>
    <% end %>
  </p>