<!DOCTYPE html>
<html>
  <head>
    <title>Festibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
       <!-- 上記と同義 <div class="alert alert-<%= message_type %>"><%= message %></div> -->
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "マイページ", users_user_path(current_user) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "管理者ログイン", new_admin_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
