<!DOCTYPE html>
<html>
  <head>
    <title>Festibo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <!--URLの先頭に'admin'があれば'true'-->
    <% if request.fullpath.match?(/^\/admins\/*/) %>
      <%= render "/layouts/admins_header" %>
    <% else %>
      <%= render "/layouts/users_header" %>
    <% end %>

    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
       <!-- 上記と同義 <div class="alert alert-<%= message_type %>"><%= message %></div> -->
    <% end %>
    <%= yield %>
  </body>
</html>
